<h2>Random Cat</h2>
<img class="animalpic" ng-src="{{catpicture}}" />
<div class="animaltable">
  <table>
    <tr>
      <th>
        Name
      </th>
      <th>
        Age
      </th>
      <th>
        Breed
      </th>
      <th>
        Sex
      </th>
      <th>
        Description
      </th>
      <th>
        Shelter
      </th>
    </tr>
    <tr>
      <td>
        {{catname}}
      </td>
      <td>
        {{catage}}
      </td>
      <td>
        {{catbreed}}
      </td>
      <td>
        {{catsex}}
      </td>
      <td class="petdescription">
        {{catdescription}}
      </td>
      <td>
        {{sheltername}}
      </td>
    </tr>
  </table>
</div>
