<h2>Random Dog</h2>
<img class="animalpic" ng-src="{{dogpicture}}" />
<div class="animaltable">
  <table>
    <tr>
      <th>
        Name
      </th>
      <th>
        Age
      </th>
      <th>
        Breed
      </th>
      <th>
        Sex
      </th>
      <th>
        Description
      </th>
      <th>
        Shelter
      </th>
    </tr>
    <tr>
      <td>
        {{dogname}}
      </td>
      <td>
        {{dogage}}
      </td>
      <td>
        {{dogbreed}}
      </td>
      <td>
        {{dogsex}}
      </td>
      <td class="petdescription">
        {{dogdescription}}
      </td>
      <td>
        {{sheltername}}
      </td>
    </tr>
  </table>
</div>
