<h2>Random Reptile</h2>
<img class="animalpic" ng-src="{{reptilepicture}}" />
<div class="animaltable">
  <table>
    <tr>
      <th>
        Name
      </th>
      <th>
        Age
      </th>
      <th>
        Breed
      </th>
      <th>
        Sex
      </th>
      <th>
        Description
      </th>
      <th>
        Shelter
      </th>
    </tr>
    <tr>
      <td>
        {{reptilename}}
      </td>
      <td>
        {{reptileage}}
      </td>
      <td>
        {{reptilebreed}}
      </td>
      <td>
        {{reptilesex}}
      </td>
      <td class="petdescription">
        {{reptiledescription}}
      </td>
      <td>
        {{sheltername}}
      </td>
    </tr>
  </table>
</div>
